/* Reset some default styles */
body, h1, h2, p, ul, li, a, label, input, textarea {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
}

header h1 {
    font-size: 2em;
    transition: color 0.3s ease-in-out;
}

header:hover {
    background-color: #45A049; /* Change background color on hover */
}

header h1:hover {
    color: #fff; /* Change text color on hover */
}

a#loginButton {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a#loginButton:hover {
    background-color: #4CAF50;
    color: #fff;
}

/* Main content styles */
.main-content {
    background-color: #f4f4f4;
    padding: 20px 0;
}

/* Contact form styles */
.contact-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    margin-bottom: 20px;
}

.contact-form h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

footer li a:hover {
    text-decoration: underline;
    color: #4CAF50; /* Change link color on hover */
}
