<!DOCTYPE html>
<html lang="en">
<head>    <li><a href="clever_device.html">Clever Device</a></li>
    <link rel="stylesheet" href="{{ url_for('static', filename='clever_device.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clever Device - Water App</title>
    <link rel="stylesheet" href="clever_device.css">
</head>
<body>
    <header class="clever-header">
        <div class="header-content">
            <h1>Welcome to Clever Device</h1>
            <p>Discover innovative solutions for clean water.</p>
        </div>
    </header>
    <section class="features">
        <div class="feature">
            <h2>Real-time Water Cleanliness Calculator</h2>
            <p>Our Clever Device provides a real-time water cleanliness calculator that continuously monitors and analyzes water quality. You can instantly access accurate information about the cleanliness of the water source.</p>
        </div>
        <div class="feature">
            <h2>Fast and Reliable</h2>
            <p>With cutting-edge technology, our device delivers fast and reliable results. You can rely on it for quick assessments of water quality, ensuring you make informed decisions.</p>
        </div>
        <div class="feature">
            <h2>Connectivity with Clever Water App</h2>
            <p>Seamlessly connect our Clever Device with the Clever Water App. Monitor water quality data remotely, receive alerts, and contribute to the collective effort to ensure clean and safe water sources.</p>
        </div>    
    <section class="divider">
        <div class="text-section">
            <h2>Our Technology</h2>
            <p>It is a Device which measures following parameters like pH,Turbidity,Viruses,Temperature and odour of water.In this data is collectedby a microcontroller.
                It allows us to access real-time water quality data through a dashboard/app.
            </p>
        </div>
        <div class="image-section">
            <img src="{{ url_for('static', filename='technology_iot.jpg') }}" alt="Logo">
        </div>
    </section>
    <footer>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="clean_water.html">What is Clean Water</a></li>
            <li><a href="endangered_species.html">Endangered Species</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
        <p>2023 Clever Water .All Rights Reserved</p>
    </footer>
    <br>
    